<div class="top-navbar">
    <div class="left-side">
        <div>
            <img src="/public/images/logo.png" alt="">
        </div>
        <div>
            <button id="collapspe-big-sidebar" class="btn btn-white"><i class="fa fa-bars"></i></button>
        </div>
    </div>
    <div class="right-side">
        <div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
        </div>
        <div>
            <!-- unis badri -->
        </div>
    </div>
</div>